<ion-view view-title="更换公司">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content>
        <ion-list scroll="true">
            <div class="row">
                <div class="col col-50">
                    <div class="item-image">
                        <img src="img/images/companyinfo.jpg">
                    </div>
                    <!--<div>-->
                        <button class="button button-full button-balanced">申请更换</button>
                    <!--</div>-->
                </div>
                <div class="col col-50">
                    <div class="item-image">
                        <img src="img/images/companyinfo.jpg">
                    </div>
                    <button class="button button-full button-balanced">申请更换</button>
                </div>
            </div>
            <div class="row">
                <div class="col col-50">
                    <div class="item-image">
                        <img src="img/images/companyinfo.jpg">
                    </div>
                    <!--<div>-->
                    <button class="button button-full button-balanced">申请更换</button>
                    <!--</div>-->
                </div>
                <div class="col col-50">
                    <div class="item-image">
                        <img src="img/images/companyinfo.jpg">
                    </div>
                    <button class="button button-full button-balanced">申请更换</button>
                </div>
            </div>
            <div class="row">
                <div class="col col-50">
                    <div class="item-image">
                        <img src="img/images/companyinfo.jpg">
                    </div>
                    <!--<div>-->
                    <button class="button button-full button-balanced">申请更换</button>
                    <!--</div>-->
                </div>
                <div class="col col-50">
                    <div class="item-image">
                        <img src="img/images/companyinfo.jpg">
                    </div>
                    <button class="button button-full button-balanced">申请更换</button>
                </div>
            </div>
            <div class="row">
                <div class="col col-50">
                    <div class="item-image">
                        <img src="img/images/companyinfo.jpg">
                    </div>
                    <!--<div>-->
                    <button class="button button-full button-balanced">申请更换</button>
                    <!--</div>-->
                </div>
                <div class="col col-50">
                    <div class="item-image">
                        <img src="img/images/companyinfo.jpg">
                    </div>
                    <button class="button button-full button-balanced">申请更换</button>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>