<ion-view view-title="申请离职">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/images/logo.jpg">
                <h2>丹旌物流公司</h2>
                <p>企业负责人:王女士</p>
            </div>
            <div class="item item-image">
                <img src="img/images/companyinfo.jpg">
            </div>
            <a class="item item-icon-left assertive" href="#">
                <i class="icon ion-navigate"></i>
                申请离职
            </a>
        </div>
    </ion-content>
</ion-view>