<ion-view view-title="找回密码">
    <ion-content scroll="false">
        <div class="list card">
            <div class="item item-image">
                <img src="img/login/head.jpg">
            </div>
            <label class="item item-input">
                <i class="icon ion-iphone positive"></i>
                <input type="text" placeholder="请输入您的手机号码" ng-model="vm.user.phone">
            </label>

            <label class="item item-input">
                <i class="icon ion-ios-unlocked-outline positive"></i>
                <input type="password" placeholder="请输入您的新密码" ng-model="vm.user.password">
            </label>

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-email-outline positive"></i>
                    <input type="text" placeholder="请输入验证码" ng-model="vm.user.verifycode">
                </label>
                <button class="button button-small button-positive"
                        ng-disabled = "vm.btnsendsms.disabled"
                        ng-click="vm.sendSms()">
                    <span ng-bind-html="vm.btnsendsms.text"></span>
                </button>
            </div>
        </div>
        <h2 class="assertive"><span ng-bind-html="vm.vaildatetext"></span></h2>
        <button class="button button-full button-positive" ng-click="vm.findpass()">
            重置密码
        </button>
    </ion-content>
</ion-view>
